In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
# load dataset
df = pd.read_excel('data/CaseStudy_20190517.xlsx')

In [5]:
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,2016-07-18,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,11201,1.0,1.0
1,5578513,4.605170,Apartment,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1.0,Real Bed,strict,True,...,2016-11-15,40.723883,-73.983880,Large East Village Bedroom To Let!,Alphabet City,82,93.0,10009,1.0,1.0
2,17423675,5.010635,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,True,...,2016-11-18,33.875862,-118.403293,Sand Section Beach Bungalow,Hermosa Beach,29,97.0,90254,2.0,2.0
3,14066228,4.248495,Apartment,Private room,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",2,1.0,Real Bed,flexible,True,...,NaT,33.813228,-118.389434,Beach Pad 1 min walk to the ocean!,Torrance,0,NaN,90277,1.0,1.0
4,583490,4.955827,Apartment,Entire home/apt,"{Kitchen,Heating,""Smoke detector"",""Carbon mono...",2,1.0,Real Bed,strict,True,...,2017-04-06,33.778526,-118.145926,VINTAGE 1930s Mediteranian Apt. (NOT a party S...,NaN,2,100.0,90804,1.0,1.0

In [6]:
df.shape

(36795, 27)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36795 entries, 0 to 36794
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    36795 non-null  int64
 1   log_price             36795 non-null  float64
 2   property_type         36795 non-null  object
 3   room_type             36795 non-null  object
 4   amenities             36795 non-null  object
 5   accommodates          36795 non-null  int64
 6   bathrooms             36657 non-null  float64
 7   bed_type              36795 non-null  object
 8   cancellation_policy   36795 non-null  object
 9   cleaning_fee          36795 non-null  bool
 10  city                  36795 non-null  object
 11  description           36774 non-null  object
 12  first_review          28564 non-null  datetime64[ns]
 13  host_has_profile_pic  36668 non-null  float64
 14  host_response_rate    25667 non-null  float64
 15  host_since            36668 non-null  datetime64[ns]
 16  instant_bookable      36795 non-null  object
 17  last_review           28589 non-null  datetime64[ns]
 18  latitude              36795 non-null  float64
 19  longitude             36795 non-null  float64
 20  name                  36794 non-null  object
 21  neighbourhood         33514 non-null  object
 22  number_of_reviews     36795 non-null  int64
 23  review_scores_rating  28080 non-null  float64
 24  zipcode               36271 non-null  object
 25  bedrooms              36740 non-null  float64
 26  beds                  36723 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(9), int64(3), object(11)
memory usage: 7.3+ MB

In [12]:
# convert protopype column into numerical column
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

## apartment = 0 and home = 1
df['property_type'] = label_encoder.fit_transform(df['property_type'])

In [18]:
display(df['room_type'].unique())
display(df['bed_type'].unique())
display(df['cancellation_policy'].unique())
display(df['cleaning_fee'].unique())

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Couch', 'Airbed'],
      dtype=object)

array(['strict', 'flexible', 'moderate'], dtype=object)

array([ True, False])

In [19]:
room_type_map = {'Entire home/apt':1 ,'Private room':2,'Shared room':3}
bed_type_map = {'Real Bed': 1,'Futon':2,'Pull-out Sofa':3,'Couch':4,'Airbed':5 }
cancellation_map = {'strict':1,'flexible':2,'moderate':3}
cleaning_map = {'True':1,'False':0}

In [22]:
df['room_type'] = df['room_type'].map(room_type_map).astype('float')
df['bed_type'] = df['bed_type'].map(bed_type_map).astype('float')
df['cancellation_policy'] = df['cancellation_policy'].map(cancellation_map).astype('float')
df['cleaning_fee'] = df['cleaning_fee'].map(cleaning_map).astype('float')